li {
    list-style-type: none;
}


// .wrapper {
//     display: flex;
//     flex-wrap: wrap;
//     border: 1px solid red;
//     color: white;
//     position: relative;
// }

// .wrapper p {
//     padding: 20px;
//     flex: 1 1 100%;
//     bottom: 0;
//     position: absolute; 
//     background-color: rgba(0,0,0,0.2);
// }


.list {
    @media (min-width: $breakpoint-tablet) {
        display: flex;
        flex-wrap: wrap;
    }
}


.li-image{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.li-article{
    @media (min-width: $breakpoint-tablet) {
        width: 50%;
    }
     
    @media (min-width: $breakpoint-desktop) {
        width: 25%;
    }
}

.article-wrapper {
    height: 400px;
    width: 100%;
    position: relative;
}

.text-wrapper {
    // display: none;
    background: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
}

