/* --------------------------------------------------------
content css
--------------------------------------------------------*/

li {
    list-style-type: none;
}

.text-wrapper p{
    padding: 10px;
    line-height: 20px;
}

.list {
    @media (min-width: $breakpoint-tablet) {
        display: flex;
        flex-wrap: wrap;
    }
}

.li-image{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.li-article{
    @media (min-width: $breakpoint-tablet) {
        width: 50%;
    }
     
    @media (min-width: $breakpoint-desktop) {
        width: 25%;
    }
}

.article-wrapper {
    height: 400px;
    width: 100%;
    position: relative;
}

.text-wrapper {
    background: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transform: translateY(100px);
    transform: scale(0) translateY(100px);
    opacity: 0;
}


.article-wrapper:hover .text-wrapper{
    -webkit-animation-name: textwrappershow;
            animation-name: textwrappershow;
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    opacity: 1;
}

