$breakpoint-m: 400px;
$breakpoint-tablet: 600px;
$breakpoint-desktop: 1000px;



html{
   font-size: 16px;
   color: #ffffff;
   font-family: 'open_sans_web', sans-serif;
   font-weight: lighter;   
}

body{
    background-color: black;
}
span{
    text-transform: uppercase;
}

.menu{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 90vh;
   
   @media (max-height: $breakpoint-m) {
       max-height: 400px;
    }
    @media (min-width: $breakpoint-tablet) {
    
    }
    @media (min-width: $breakpoint-desktop) {
     justify-content: flex-start;
    }
}

.logo{
    text-align: center;
    @media (min-width: $breakpoint-tablet) {
    }
}

.logo img{
    width: auto;
    
    //  @media (min-width: $breakpoint-m) {
    //  width: 80%;
    // }
}

.selector{
    width: 50vh;
    height: auto;
    text-align: center;
    @media (min-width: $breakpoint-tablet) {
   width: 300px;
    }
    @media (min-width: $breakpoint-desktop) {
  
     text-align: left;
    }
}



.loading{
    display: none;
    height: 66px;
    left: 41%;
    top: 260px;
    position: absolute;
}

.logo-scale{
   transform: scale(.5);
}