$breakpoint-m: 400px;
$breakpoint-tablet: 600px;
$breakpoint-desktop: 1000px;


html{
   font-size: 16px;
   color: #ffffff;
   font-family: 'open_sans_web', sans-serif;
   font-weight: lighter;   
}

body{
    background-color: black;
}
span{
    text-transform: uppercase;
}

h1{
    font-size: 13px;
    margin: 17px 0 17px 0;
    @media (min-width: $breakpoint-tablet) {
        font-size: 15px;
         margin: 0 0 18px 0;
    }
}

form{
    @media (min-width: $breakpoint-tablet) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

.menu{
    -ms-flex-line-pack: center;
        align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 82vh;
    padding: 15px;

    @media (min-width: $breakpoint-desktop) {
        justify-content: flex-start;
        padding: 20px;
    }
}

.selector{
    text-align: center;
    display: block;
    width: 300px;
    @media (min-width: $breakpoint-tablet) {
        text-align: left;
        margin-bottom: 10px;
    }
}

.logo{
    width: 300px;
    text-align: center;
    @media (min-width: $breakpoint-tablet) {
        flex: 0 1 25%;
        align-self: center;
        margin-right: 10px;
    }
    @media (min-width: $breakpoint-desktop) {
        flex: 0 1 25%;
        text-align: left;
    }
}
.logo img{
    width: 75%;
    @media (min-width: $breakpoint-tablet) {
        width: 90%;
    }
    @media (min-width: $breakpoint-desktop) {
        width: 75%;
    }
}


.loading{
    display: none;
    height: 50px;
    left: 47%;
    top: 201px;
    position: absolute;
}

.logo-scale{
    width: 250px;
    height: 180px;
    @media (min-width: $breakpoint-tablet) {
        width:70px;
        height: 70px;
    }
    @media (min-width: $breakpoint-desktop) {
    text-align: left;
    }
    
}

.section{
    width: 127px;
    height: 26px;
    font-size: 18px;

    }

// section:active{
//     outline:none;
//     border: none;
//     box-shadow: none;
// }
