$breakpoint-m: 400px;
$breakpoint-tablet: 600px;
$breakpoint-desktop: 1000px;



html{
   font-size: 16px;
   color: #ffffff;
   font-family: 'open_sans_web', sans-serif;
   font-weight: lighter;   
}

body{
    background-color: black;
}
span{
    text-transform: uppercase;
}

h1{
    font-size: 12px;
    margin: 10px 0 10px 0;
}

.menu{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 90vh;
   
   @media (max-height: $breakpoint-m) {
       max-height: 400px;
    }
    @media (min-width: $breakpoint-tablet) {
    
    }
    @media (min-width: $breakpoint-desktop) {
     justify-content: flex-start;
    }
}



.selector{
    width: 300px;
    // height: auto;
    text-align: center;
    @media (min-width: $breakpoint-tablet) {
        width: 300px;
    }
    @media (min-width: $breakpoint-desktop) {
        width: 100px;
        padding-left: 150px;
    }
}


.loading{
    display: none;
    height: 65px;
    left: 47%;
    top: 167px;
    position: absolute;
}

.logo-scale{
    transform: scale(0.5);  
}