
@keyframes header-up{
    0%{
         transform: translate(0px);
     }
    50%{
         transform: translateY(0px);  
    }
    100%{
         transform: translateY(0px);
    }
}

.menu-up{
    animation: header-up 0s linear 1 alternate forwards;
}
