/* --------------------------------------------------------
variables
--------------------------------------------------------*/

$breakpoint-m: 25rem;
$breakpoint-tablet: 37.5rem;
$breakpoint-desktop: 62.5rem;


$color__footer: #c2c2c2;
$color__yellow: #FFFABE;
$color__darkyellow: #FFD06A;
$color__grey: #444444;
$color__lightgrey: #c4c4c4;

$font__main: 'open_sansweb';